<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOGATTO - Tag-based TODO Manager</title>
    <%= (if (eq clails/environment:*project-environment* :production)
            ;; Production: Use built assets
            (concatenate 'string
              "<link rel=\"stylesheet\" crossorigin href=\"" (asset-path "/assets/css/index.css") "\">"
              "<script type=\"module\" crossorigin src=\"" (asset-path "/assets/javascript/index.js") "\"></script>")
            ;; Development: Use Vite dev server
            (concatenate 'string
              "<script type=\"module\" src=\"" (dogatto/helpers/asset-helper:get-vite-dev-server-url) "/@vite/client\"></script>"
              "<script type=\"module\" src=\"" (asset-path "/assets/javascript/index.js") "\"></script>")) %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
